<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.application_getjob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logook"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application_GetJob">
        <activity
            android:name=".Chat"
            android:exported="true" />
        <activity
            android:name=".Detail_AmbilProjectPrivateTutoring"
            android:exported="true" />
        <activity
            android:name=".Kategori_PrivateTutoring"
            android:exported="true" />
        <activity
            android:name=".Detail_AmbilProjectWebMobile"
            android:exported="true" />
        <activity
            android:name=".Kategori_WebMobile"
            android:exported="true" />
        <activity
            android:name=".Detail_AmbilProjectWritingContent"
            android:exported="true" />
        <activity
            android:name=".Kategori_WritingContent"
            android:exported="true" />
        <activity
            android:name=".Detail_AmbilProjectVideoAnimation"
            android:exported="true" />
        <activity
            android:name=".Kategori_VideoAnimation"
            android:exported="true" />
        <activity
            android:name=".Detail_AmbilProjectDigitalMarketing"
            android:exported="true" />
        <activity
            android:name=".Kategori_DigitalMarketing"
            android:exported="true" />
        <activity
            android:name=".Detail_AmbilProject"
            android:exported="true" />
        <activity
            android:name=".Edit_Profil"
            android:exported="true" />
        <activity
            android:name=".Profil_User"
            android:exported="true" />
        <activity
            android:name=".Kategori_GraphicDesain"
            android:exported="true" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".My_Project"
            android:exported="true" />
        <activity
            android:name=".Detail_Project"
            android:exported="true" />
        <activity
            android:name=".TambahProject"
            android:exported="true" />
        <activity
            android:name=".mainscreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".home"
            android:exported="true" />
        <activity
            android:name=".Daftar"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>